[user]
  name = {{ git_user }}
  email = {{ git_email }}
  signingkey = {{ git_signingkey }}
[alias]
  st = status
  co = checkout
  fbranch = "!sh -c 'git branch | fzf | xargs'"
  fco = "!sh -c 'git fbranch | xargs git switch'"
  modified = "!sh -c 'git st | grep modified: | cut -c 14-'"
  find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
  show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
[commit]
  template = ~/.gitmessage
  gpgsign = true
[core]
  excludesfile = ~/.gitignore
[rebase]
  instructionFormat = "(%an <%ae>) %s"
[push]
	autoSetupRemote = true
[pull]
  rebase = false
[init]
  defaultBranch = main
[log]
  date = iso-local
