/.tool-versions
/mise.toml
/.pryrc
/.irbrc
/.draft

# project-specific custom nvim config
/.nvim.lua

# solargraph overrides
/.solargraph_definitions.rb

# secrets
/.azure_federated_token
/bin/fetch-azure-token

# misc/random stuff
/.private

# ripgrep rc
/.ripgreprc

# https://github.com/tpope/vim-projectionist
.projections.json
